body {
    background: rgb(221, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
}
h1{
    margin-bottom: 0;
    letter-spacing: -1px;
}

h2{
    margin-top: 0;
    font-style: italic;
    color: #414141;
    font-weight: 200; /*expessura das palavras*/
    letter-spacing: -1px; /* espaçamento entre as letras*/
}
.gbr {
    border: 2px solid #6d6d6d; /*shortthand*/
    border-radius: 175px;
    width: 200px;
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 0px 12px #414141;  
 
}